Checks: >
    google-*,
    -google-readability-casting,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-avoid-capturing-lambda-coroutines,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-avoid-non-const-global-variables,
    cppcoreguidelines-avoid-reference-coroutine-parameters,
    cppcoreguidelines-init-variables,
    cppcoreguidelines-prefer-member-initializer,
    cppcoreguidelines-special-member-functions

CheckOptions:
  - key: cppcoreguidelines-special-member-functions.DefaultConstructor
    value: true
  - key: cppcoreguidelines-special-member-functions.CopyConstructor
    value: true
  - key: cppcoreguidelines-special-member-functions.CopyAssignment
    value: true
  - key: cppcoreguidelines-special-member-functions.MoveConstructor
    value: true
  - key: cppcoreguidelines-special-member-functions.MoveAssignment
    value: true

WarningsAsErrors: ''
HeaderFilterRegex: './include'
FormatStyle:     none
InheritParentConfig: true
