Checks: >
    google-*,
    -google-readability-casting,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-avoid-capturing-lambda-coroutines,
    cppcoreguidelines-avoid-goto,
    cppcoreguidelines-avoid-non-const-global-variables,
    cppcoreguidelines-avoid-reference-coroutine-parameters,
    cppcoreguidelines-interfaces-global-init,
    cppcoreguidelines-rvalue-reference-param-not-moved

WarningsAsErrors: ''
HeaderFilterRegex: './include'
FormatStyle:     none
InheritParentConfig: true
