Source: pgrouting
Section: misc
Priority: optional
Maintainer: Akio Takubo <takubo@saruga-tondara.net>
Build-Depends: debhelper (>= 5), postgresql-server-dev-8.2, cmake, libboost-graph-dev
Standards-Version: 3.7.2
Section: libs
Homepage: http://pgrouting.postlbs.net/

Package: postgresql-8.2-pgrouting
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-8.2-postgis
Description: routing functionality support for PostgreSQL 8.2
 pgRouting is part of PostLBS, which provides core tools for Location Based Services (LBS) 
 as Open Source Software (OSS). Its tools are similar to those found on proprietary software.
 pgRouting adds support for some routing algorithm to the PostgreSQL 
 object-relational database. 
 pgRouting core includes three types of shortest path implementation. And combination with 
 PostGIS provides more useful functionnality. 
 .
 This package supports PostgreSQL 8.2.

