name: Build for macOS

# manually triggered workflow
# - macOS test takes too much time

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: macos
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install deps
        run: |
          brew install postgresql postgis boost

      - name: Configure
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DWITH_DOC=OFF ..

      - name: Build
        run: |
          cd build
          make -j
          sudo make install

      - name: Install pgTAP
        run: |
          git clone https://github.com/theory/pgtap.git pgTapExtension
          cd pgTapExtension
          make -j
          sudo make install
          sudo cpan TAP::Parser::SourceHandler::pgTAP
          sudo find /usr/local -name pg_prove
          sudo ln -s  /usr/local/Cellar/perl/5.32.1_1/bin/pg_prove  symlink it into /usr/local/bin

      - name: Test
        run: |
          export PATH=/usr/local/Cellar/perl/$(perl -e 'print substr($^V, 1)')/bin:$PATH
          pg_ctl -D /usr/local/var/postgres start
          createuser -s postgres
          createdb ___pgr___test___
          bash ./tools/testers/pg_prove_tests.sh postgres 5432 Release
