name: Update


# manually triggered workflow
# - 10+ jobs created and continue to grow

on:
  workflow_dispatch:


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
        fail-fast: false
        matrix:
          old_pgr: [3.0.0, 3.0.1, 3.0.2, 3.0.3, 3.0.4, 3.0.5, 3.1.0, 3.1.1, 3.1.2, 3.1.3, 3.2.0]

    steps:
      - uses: actions/checkout@v2

      - name: Get postgres version
        run: |
          sudo service postgresql start
          pgver=$(psql --version | grep -Po '(?<=psql \(PostgreSQL\) )[^;]+(?=\.\d \()')
          echo "PGVER=${pgver}" >> $GITHUB_ENV
          echo "PGIS=3" >> $GITHUB_ENV

      - name: Add PostgreSQL APT repository
        run: |
          sudo apt-get install curl ca-certificates gnupg
          curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ \
            $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libboost-graph-dev \
            libtap-parser-sourcehandler-pgtap-perl \
            postgresql-${PGVER} \
            postgresql-${PGVER}-pgtap \
            postgresql-${PGVER}-postgis-${PGIS} \
            postgresql-${PGVER}-postgis-${PGIS}-scripts \
            postgresql-server-dev-${PGVER}

          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: get old version
        uses: actions/checkout@v2
        with:
          repository: 'pgRouting/pgrouting'
          ref: "v${{ matrix.old_pgr }}"
          path: "v${{ matrix.old_pgr }}"

      - name: build old version
        run: |
          cd  "v${{ matrix.old_pgr }}" || exit 0
          export PATH=/usr/lib/postgresql/${PGVER}/bin:$PATH
          mkdir build
          cd build
          cmake -DPOSTGRESQL_VERSION=${PGVER} -DCMAKE_BUILD_TYPE=Release -DWITH_DOC=OFF ..
          make -j 4
          sudo make install
          cd ../..
          sudo service postgresql start
          sudo -u postgres createdb -p 5432  ___pgr___test___
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "CREATE EXTENSION pgrouting CASCADE;"

      - name: Test old version before update
        run: |
          sudo service postgresql start
          cd ./tools/testers/
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "SELECT * FROM pgr_full_version();"
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -X -q -v ON_ERROR_STOP=1 --pset pager=off -f setup_db.sql
          sudo -u postgres pg_prove --directive --recurse --ext .sql -p 5432  -d ___pgr___test___ ../../pgtap/


      - name: Build current version
        run: |
          export PATH=/usr/lib/postgresql/${PGVER}/bin:$PATH
          mkdir build
          cd build
          cmake -DPOSTGRESQL_VERSION=${PGVER} -DCMAKE_BUILD_TYPE=Release -DWITH_DOC=OFF ..
          make -j 4
          sudo make install

      - name: Test old version after update
        run: |
          sudo service postgresql start
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "ALTER EXTENSION pgrouting UPDATE  TO '3.3.0';"
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "SELECT * FROM pgr_full_version();"
          sudo -u postgres bash ./tools/testers/pg_prove_tests.sh postgres 5432
          sudo -u postgres dropdb -p 5432  ___pgr___test___

      - name: Test old version with new lib before update
        run: |
          cd ./tools/testers/
          sudo -u postgres createdb -p 5432  ___pgr___test___
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "CREATE EXTENSION pgrouting WITH VERSION '${{ matrix.old_pgr }}' CASCADE;"
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "SELECT * FROM pgr_full_version();"
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -X -q -v ON_ERROR_STOP=1 --pset pager=off -f setup_db.sql
          sudo -u postgres pg_prove --directive --recurse --ext .sql -p 5432  -d ___pgr___test___ ../../pgtap/

      - name: Test old version with new lib after update
        run: |
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "ALTER EXTENSION pgrouting UPDATE  TO '3.3.0';"
          sudo -u postgres psql -p 5432  -d ___pgr___test___ -c "SELECT * FROM pgr_full_version();"
          sudo -u postgres bash ./tools/testers/pg_prove_tests.sh postgres 5432
